.svg-_example {
	background: url("svg/sprite.css-e663cca6.svg") 90.42904290429043% 60.092449922958394% no-repeat;
}

.svg-_example-dims {
	width: 30px;
	height: 30px;
}

.svg-app-store {
	background: url("svg/sprite.css-e663cca6.svg") 75.82417582417582% 95.86523736600306% no-repeat;
}

.svg-app-store-dims {
	width: 90px;
	height: 26px;
}

.svg-app-store-white {
	background: url("svg/sprite.css-e663cca6.svg") 59.04059040590406% 95.86523736600306% no-repeat;
}

.svg-app-store-white-dims {
	width: 94px;
	height: 26px;
}

.svg-arrows {
	background: url("svg/sprite.css-e663cca6.svg") 98.54838709677419% 54.26008968609865% no-repeat;
}

.svg-arrows-dims {
	width: 16px;
	height: 10px;
}

.svg-chevrone {
	background: url("svg/sprite.css-e663cca6.svg") 99.8407643312102% 53.937592867756315% no-repeat;
}

.svg-chevrone-dims {
	width: 8px;
	height: 6px;
}

.svg-circle {
	background: url("svg/sprite.css-e663cca6.svg") 100% 0 no-repeat;
}

.svg-circle-dims {
	width: 88px;
	height: 88px;
}

.svg-circle-half {
	background: url("svg/sprite.css-e663cca6.svg") 68.96551724137932% 60.254083484573506% no-repeat;
}

.svg-circle-half-dims {
	width: 172px;
	height: 128px;
}

.svg-close {
	background: url("svg/sprite.css-e663cca6.svg") 89.10569105691057% 63.829787234042556% no-repeat;
}

.svg-close-dims {
	width: 21px;
	height: 21px;
}

.svg-ellipse {
	background: url("svg/sprite.css-e663cca6.svg") 0 0 no-repeat;
}

.svg-ellipse-dims {
	width: 320px;
	height: 679px;
}

.svg-flower {
	background: url("svg/sprite.css-e663cca6.svg") 100% 14.890016920473773% no-repeat;
}

.svg-flower-dims {
	width: 88px;
	height: 88px;
}

.svg-fourth-circle {
	background: url("svg/sprite.css-e663cca6.svg") 100% 29.780033840947546% no-repeat;
}

.svg-fourth-circle-dims {
	width: 88px;
	height: 88px;
}

.svg-google-play {
	background: url("svg/sprite.css-e663cca6.svg") 60.60606060606061% 91.90839694656489% no-repeat;
}

.svg-google-play-dims {
	width: 108px;
	height: 24px;
}

.svg-google-play-white {
	background: url("svg/sprite.css-e663cca6.svg") 82.85714285714286% 44.12213740458015% no-repeat;
}

.svg-google-play-white-dims {
	width: 111px;
	height: 24px;
}

.svg-green-oval {
	background: url("svg/sprite.css-e663cca6.svg") 61.42034548944338% 30.87649402390438% no-repeat;
}

.svg-green-oval-dims {
	width: 115px;
	height: 177px;
}

.svg-half-circle {
	background: url("svg/sprite.css-e663cca6.svg") 100% 41.83835182250396% no-repeat;
}

.svg-half-circle-dims {
	width: 88px;
	height: 48px;
}

.svg-input-close {
	background: url("svg/sprite.css-e663cca6.svg") 99.83660130718954% 51.7557251908397% no-repeat;
}

.svg-input-close-dims {
	width: 24px;
	height: 24px;
}

.svg-line-half {
	background: url("svg/sprite.css-e663cca6.svg") 78.43137254901961% 0 no-repeat;
}

.svg-line-half-dims {
	width: 228px;
	height: 155px;
}

.svg-logo {
	background: url("svg/sprite.css-e663cca6.svg") 95.0657894736842% 59.180576631259484% no-repeat;
}

.svg-logo-dims {
	width: 28px;
	height: 20px;
}

.svg-mail {
	background: url("svg/sprite.css-e663cca6.svg") 98.38187702265373% 56.390977443609025% no-repeat;
}

.svg-mail-dims {
	width: 18px;
	height: 14px;
}

.svg-main-button-circle {
	background: url("svg/sprite.css-e663cca6.svg") 95.63699825479931% 50.64935064935065% no-repeat;
}

.svg-main-button-circle-dims {
	width: 63px;
	height: 63px;
}

.svg-main-button-ru {
	background: url("svg/sprite.css-e663cca6.svg") 64.77732793522267% 85.6610800744879% no-repeat;
}

.svg-main-button-ru-dims {
	width: 142px;
	height: 142px;
}

.svg-myrtus {
	background: url("svg/sprite.css-e663cca6.svg") 95.13888888888889% 56.475903614457835% no-repeat;
}

.svg-myrtus-dims {
	width: 60px;
	height: 15px;
}

.svg-oval {
	background: url("svg/sprite.css-e663cca6.svg") 79.23497267759562% 28.440366972477065% no-repeat;
}

.svg-oval-dims {
	width: 87px;
	height: 134px;
}

.svg-star {
	background: url("svg/sprite.css-e663cca6.svg") 99.83660130718954% 47.852760736196316% no-repeat;
}

.svg-star-dims {
	width: 24px;
	height: 27px;
}

