.svg-_example {
	background: url("svg/sprite.css-44e2bcad.svg") 96.21212121212122% 21.879815100154083% no-repeat;
}

.svg-_example-dims {
	width: 30px;
	height: 30px;
}

.svg-app-store {
	background: url("svg/sprite.css-44e2bcad.svg") 91.33333333333333% 53.59877488514548% no-repeat;
}

.svg-app-store-dims {
	width: 90px;
	height: 26px;
}

.svg-app-store-white {
	background: url("svg/sprite.css-44e2bcad.svg") 91.94630872483222% 49.617151607963244% no-repeat;
}

.svg-app-store-white-dims {
	width: 94px;
	height: 26px;
}

.svg-arrows {
	background: url("svg/sprite.css-44e2bcad.svg") 94.21364985163204% 32.28699551569507% no-repeat;
}

.svg-arrows-dims {
	width: 16px;
	height: 10px;
}

.svg-chevrone {
	background: url("svg/sprite.css-44e2bcad.svg") 99.8533724340176% 25.557206537890046% no-repeat;
}

.svg-chevrone-dims {
	width: 8px;
	height: 6px;
}

.svg-circle {
	background: url("svg/sprite.css-44e2bcad.svg") 91.0299003322259% 63.62098138747885% no-repeat;
}

.svg-circle-dims {
	width: 88px;
	height: 88px;
}

.svg-circle-fourth {
	background: url("svg/sprite.css-44e2bcad.svg") 56.53710247349823% 86.30393996247655% no-repeat;
}

.svg-circle-fourth-dims {
	width: 124px;
	height: 146px;
}

.svg-circle-half {
	background: url("svg/sprite.css-44e2bcad.svg") 61.77606177606177% 60.254083484573506% no-repeat;
}

.svg-circle-half-dims {
	width: 172px;
	height: 128px;
}

.svg-close {
	background: url("svg/sprite.css-44e2bcad.svg") 98.50523168908819% 29.179331306990882% no-repeat;
}

.svg-close-dims {
	width: 21px;
	height: 21px;
}

.svg-ellipse {
	background: url("svg/sprite.css-44e2bcad.svg") 0 0 no-repeat;
}

.svg-ellipse-dims {
	width: 320px;
	height: 679px;
}

.svg-flower {
	background: url("svg/sprite.css-44e2bcad.svg") 91.0299003322259% 78.51099830795262% no-repeat;
}

.svg-flower-dims {
	width: 88px;
	height: 88px;
}

.svg-fourth-circle {
	background: url("svg/sprite.css-44e2bcad.svg") 91.0299003322259% 93.4010152284264% no-repeat;
}

.svg-fourth-circle-dims {
	width: 88px;
	height: 88px;
}

.svg-google-play {
	background: url("svg/sprite.css-44e2bcad.svg") 94.15807560137458% 45.80152671755725% no-repeat;
}

.svg-google-play-dims {
	width: 108px;
	height: 24px;
}

.svg-google-play-white {
	background: url("svg/sprite.css-44e2bcad.svg") 94.64594127806564% 42.13740458015267% no-repeat;
}

.svg-google-play-white-dims {
	width: 111px;
	height: 24px;
}

.svg-green-oval {
	background: url("svg/sprite.css-44e2bcad.svg") 55.65217391304348% 30.87649402390438% no-repeat;
}

.svg-green-oval-dims {
	width: 115px;
	height: 177px;
}

.svg-half-circle {
	background: url("svg/sprite.css-44e2bcad.svg") 72.25913621262458% 24.564183835182252% no-repeat;
}

.svg-half-circle-dims {
	width: 88px;
	height: 48px;
}

.svg-input-close {
	background: url("svg/sprite.css-44e2bcad.svg") 95.34534534534535% 29.31297709923664% no-repeat;
}

.svg-input-close-dims {
	width: 24px;
	height: 24px;
}

.svg-line-half {
	background: url("svg/sprite.css-44e2bcad.svg") 69.26406926406926% 0 no-repeat;
}

.svg-line-half-dims {
	width: 228px;
	height: 155px;
}

.svg-logo {
	background: url("svg/sprite.css-44e2bcad.svg") 95.9214501510574% 26.100151745068285% no-repeat;
}

.svg-logo-dims {
	width: 28px;
	height: 20px;
}

.svg-mail {
	background: url("svg/sprite.css-44e2bcad.svg") 98.66071428571429% 25.86466165413534% no-repeat;
}

.svg-mail-dims {
	width: 18px;
	height: 14px;
}

.svg-main-button-circle {
	background: url("svg/sprite.css-44e2bcad.svg") 69.377990430622% 32.95454545454545% no-repeat;
}

.svg-main-button-circle-dims {
	width: 63px;
	height: 63px;
}

.svg-main-button-ru {
	background: url("svg/sprite.css-44e2bcad.svg") 100% 0 no-repeat;
}

.svg-main-button-ru-dims {
	width: 142px;
	height: 142px;
}

.svg-myrtus {
	background: url("svg/sprite.css-44e2bcad.svg") 86.98412698412699% 96.3855421686747% no-repeat;
}

.svg-myrtus-dims {
	width: 60px;
	height: 15px;
}

.svg-oval {
	background: url("svg/sprite.css-44e2bcad.svg") 90.87893864013267% 26.05504587155963% no-repeat;
}

.svg-oval-dims {
	width: 87px;
	height: 134px;
}

.svg-star {
	background: url("svg/sprite.css-44e2bcad.svg") 99.84984984984985% 21.779141104294478% no-repeat;
}

.svg-star-dims {
	width: 24px;
	height: 27px;
}

