@import "../variables";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-green-600;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;

    &__block-top {

        
        &__list-info {
            display: flex;
            flex-direction: column;
            margin: 50px 0px;

            &__group-two {
                display: flex;
                flex-direction: column;
                margin: 50px 0px;
            }

            &__group-three {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__decor-line {
        margin: 40px 0px;
        border: 1px solid $color-white;
        opacity: 0.1;
    }

    &__block-under {
        display: flex;
        flex-direction: column;
        
        &__group {
            
            &__myrtus {
                display: flex;
                align-items: center;
        
                svg:nth-child(1) {
                    width: 20px;
                    height: 14px;
                }
        
                svg:nth-child(2) {
                    width: 60px;
                    height: 15px;
                    margin-left: 8px;
                    margin-right: 16px;
                    align-self: flex-end;
                }
            }
        
            &__mail {
                display: flex;
                align-items: center;
                margin-top: 21px;
        
                span {
                    margin-left: 9px;
                }
            }
        }
    
        &__list-documents {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }
    
        &__choose-language {
            margin: 50px 0px;
    
            svg {
                margin-left: 9px;
                margin-bottom: 1px;
            }
        }
    }

    a {
        padding-bottom: 20px;
    }
}


@media screen and (min-width: $media-md) {
   .footer {

       &__block-top {
        display: flex;
        justify-content: space-between;

            &__list-info {
                display: flex;
                flex-direction: row;
                margin: 70px 0px 89px 0px;

                &__group-two {
                    display: flex;
                    flex-direction: column;
                    margin: 0px 70px;
                }
            }
       }

        .download-buttons {
            flex-direction: column;
            margin-top: 70px;
            width: 160px;
            
            &__button:last-of-type {
                margin-left: 0px;
                margin-top: 12px;
            }
        }

        &__block-under {
            display: flex;
            flex-direction: row;
            margin-bottom: 70px;
        
            &__list-documents {
                margin: 0px 95px;
            }
        
            &__choose-language {
                margin: 0px;
            }
        }
    }
}



@media screen and (min-width: $media-xl) {
    .footer {

        &__block-top__list-info {
            margin-bottom: 0px;
            
            &__group-two {
                margin: 0px 120px;
            }
        }

        .download-buttons {
            flex-direction: row;
            width: 352px;

            &__button:last-of-type {
                margin: 0px 0px 0px 16px;
            }
        }

        &__block-under {
            align-items: flex-start;

            &__group {
                display: flex;
                flex-direction: row;
                align-items: center;

                &__mail {
                    margin: 0px 42px;
                }
            }

            &__list-documents {
                flex-direction: row;
                margin: 0px;
                padding: 0px;

                :last-of-type {
                    margin: 0px 304px 0px 42px;
                }

                a {
                    padding: 0px;
                }
            }
        }
    }
}