@import "../variables";
@import '../components/mixins/text-heading.scss';
@import '../components/mixins/text-paragraph.scss';

.subscribe {
    display: flex;
    flex-direction: column;
    margin: 72px 15px 130px;
    background-color: $color-white;
    border-radius: 24px;
    backface-visibility: hidden; 
    overflow: hidden;

    &__heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: $color-green-600;
        margin-bottom: 8px
    }

    &__text {
        @include text-paragraph-mobile;
        margin: 0px;
    }

    &__input-group {
        position: relative;

        &__input {
            display: flex;
            width: 100%;
            margin: 16px 0px 12px;
            padding: 0px 12px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #C0DDC6;
            color: $color-green-600;
            box-sizing: border-box;
        }
    
        &__input:hover {
            border: 1px solid #378757;
        }
    
        &__input:focus {
            border: 2px solid #008DE0;
            outline: none;

            + .input-close {
                display: block;
            }
        }
    }

    &__button-PrivacyPolicy {
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $color-grey-500;

        a {
            text-decoration: none;
            color: $color-green-500;
        }
    }

    &__figures {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-left: 30px;
        padding-bottom: 68px;
        margin-right: -15px;

        &__line-one {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        &__line-two {
            position: relative;

            &__flower {
                position: absolute;
                width: 141px;
                height: auto;
            }

            &__circle-half {
                position: absolute;
                right: -110px;
                top: 14px;
            }

            &__line-half {
                position: absolute;
                right: -138px;
                top: -13px;
            }

            &__circle-fourth {
                display: none;
            }

            &__light-star, &__light-star-two {
                display: none;
            }
        }
    }

    .input-close {
        display: none;
        position: absolute;
        top: 27px;
        right: 12px;
    }
}



@media screen and (min-width: $media-md) {
    .subscribe {
        margin: 100px 33px 148px;
        padding: 50px 45px 0px 225px !important;

        &__heading {
            @include text-heading-md;
        }

        &__text {
            @include text-paragraph-md;
        }

        &__input-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;

            &__input {
                margin-right: 8px;
            }
        }

        &__button-PrivacyPolicy {
            margin: 0px;
        }

        &__figures {
            position: relative;
            margin-top: 100px;
            padding-bottom: 104px;

            &__line-one {
                position: absolute;
                top: -245px;
                left: -270px;

                img:nth-child(1) {
                    width: 174px;
                    height: auto;
                }

                img:nth-child(2) {
                    width: 56px;
                    height: 51px;
                }
            }
               
            &__line-two {
                position: absolute;
                
                &__flower {
                    width: 174px;
                    height: 174px;
                    top: -70px;
                    left: -300px;
                }
    
                &__circle-half {
                    left: -70px;
                    top: -20px;
                }
    
                &__line-half {
                    left: -98px;
                    top: -47px;
                }

                &__circle-fourth {
                    display: none;
                }

                &__light-star {
                    display: block;
                    position: absolute;
                    bottom: 400px;
                    right: 150px;
                }

                &__light-star-two {
                    display: block;
                    position: absolute;
                    left: 350px;
                }
            }
        }
    }

    .input-close {
        left: 255px;
    }
}



@media screen and (min-width: $media-xl) {
    .subscribe {
        margin: 170px 56px 190px;
        
        &__heading {
            width: 55%;
            margin: 0px 0px 0px 327px;
        }

        &__text {
            width: 55%;
            margin: 12px 0px 0px 327px;
        }

        &__input-group {
            width: 60%;
            margin: 24px 0px 0px 327px;
        }

        &__button-PrivacyPolicy {
            margin: 0px 0px 0px 327px;
            text-align: start;
        }

        &__figures {
            margin-top: 46px;
            padding-bottom: 46px;

            &__line-one {
                top: -377px;
                left: -100px;

                img:nth-child(1) {
                    width: 240px;
                    height: auto;
                }

                img:nth-child(2) {
                    width: 76px;
                    height: 71px;
                }
            }

            &__line-two {

                &__flower {
                    width: 240px;
                    height: 240px;
                    top: -137px;
                    left: -130px;
                }

                &__circle-half {
                    left: 126px;
                    top: -10px;
                }
    
                &__line-half {
                    left: 98px;
                    top: -30px;
                }

                &__circle-fourth {
                    display: block;
                    position: absolute;
                    left: -255px;
                    top: -280px;
                }

                &__light-star {
                    bottom: 328px;
                    right: -219px;
                }

                &__light-star-two {
                    display: none;
                }
            }
        }
    }
}