@import '../variables';
@import '../components/mixins/text-heading.scss';
@import '../components/mixins/text-paragraph.scss';

.to-know {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    position: relative;
    overflow: hidden;
    
    &__heading {
        @include text-heading-mobile;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .download-buttons {
        margin-top: 28px;
    }
}



@media screen and (min-width: $media-md) {
    .to-know {

        &__heading {
            margin-top: 200px;
            margin-bottom: 82px;
        }
    }
}