@import '../variables';
@import '../components/mixins/text-heading.scss';
@import '../components/mixins/text-paragraph.scss';

.to-know {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    position: relative;
    overflow: hidden;
    
    &__heading {
        @include text-heading-mobile;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .download-buttons {
        margin-top: 28px;
    }
}



@media screen and (min-width: $media-md) {
    .to-know {
        position: relative;
        overflow: visible;
        
        &__heading {
            @include text-heading-md;
            margin-top: 200px;
            margin-bottom: 82px;
        }

        .download-buttons {
            display: none;
        }

        &__line-angle {
            position: absolute;
            top: -20px;
            right: 0px;
            bottom: -500px;
            left: 0px;
            background: linear-gradient(180deg,rgba(140,157,161,.12),rgba(140,157,161,0) 164.43%);
            transform: skewY(-5deg);
            z-index: -1;
        }
    }
}



@media screen and (min-width: $media-xl) {
    .to-know {

        &__line-angle {
            bottom: -450px;
        }
    }
}