mixin download-buttons 
    .download-buttons
        .download-buttons__button
            i(class='svg-app-store svg-app-store-dims')
        .download-buttons__button
            i(class='svg-google-play svg-google-play-dims')