mixin download-buttons(variant) 
    .download-buttons
        button.download-buttons__button(class=variant)
            i(class='svg-app-store svg-app-store-dims')
        button.download-buttons__button(class=variant)
            i(class='svg-google-play svg-google-play-dims')



mixin download-buttons__white-icon(variant) 
    .download-buttons
        button.download-buttons__button(class=variant)
            i(class='svg-app-store-white svg-app-store-white-dims')
        button.download-buttons__button(class=variant)
            i(class='svg-google-play-white svg-google-play-white-dims')