$color-white: #FFFFFF;
$color-orange-500: #F6B549;

$color-grey-200: #FAFAFA;
$color-grey-300: #F4F8F7;
$color-grey-500: #8C9DA1;
$color-grey-700: #526E74;

$color-green-400: #99BE56;
$color-green-500: #378757;
$color-green-600: #103E38;
$color-green-700: #123022;


// media breakpoints
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px