
$width-sm: 320px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 30px;
$font-size-xl: 34px;

$color-dark: #34384b;
$color-success: #00a758;
$color-info: #361558;
$color-primary: #ff7769;
$color-secondary: #fafafa;

$color-text-dark: #424559;
$color-text-light: #ffffff;
$color-text-secondary: #8e90a2;
$color-text-success: #00c46e;

$color-border-dark: #282b3e;
$color-border-secondary: #eeeeee