@import "./variables";
@import './components/mixins/text-paragraph.scss';

.download-buttons {
    display: flex;
    
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 62px;
        border-radius: 12px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(197, 242, 128, 0.04), 0px 4px 8px rgba(55, 169, 2, 0.04);
        border: none;

        &:hover {
            background-color: #E9F0EF;
        }

        &:focus {
            border: 2px solid #00B2FF;
        }

        &.variant-two {
            background-color: rgba(255,255,255,0.05);
            box-shadow: none;

            &:hover {
                box-shadow: 0px 4px 20px rgba(148, 187, 68, 0.04), 0px 4px 8px rgba(54, 135, 106, 0.04);
            }
        }
    }

    &__button:last-of-type {
        margin-left: 16px;
    }
}

.list-item {
    display: flex;
    margin-top: 24px;
    &__dot {
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        border-radius: 21px;
        margin-top: 15px;
        background-color: $color-green-500;
    }

    p {
        margin: 0px;
        padding-left: 12px;
    }
}

.hashtag-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 18px;
    border-radius: 12px;
    box-shadow: 25px 23px 55px rgba(109, 143, 131, 0.08), 8px 8px 17px rgba(95, 139, 123, 0.06);
    background-color: $color-white;
    margin-right: 16px;
    white-space: nowrap;

    img {
        width: 26px;
        height: 26px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        padding-left: 11px;
        margin: 0px;
    }

    &.green {
        color:#103E38;
    }
    &.brown {
        color: #681F00;
    }
    &.brown2 {
        color: #5D0011;
    }
    &.blue {
        color: #002448;
    }
    &.blue2 {
        color: #004D99;
    }
    &.purple {
        color: #100050;
    }
}

.list-icon {
    display: flex;
    flex-direction: column;
    
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D7E8E0;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    &__text {
        @include text-paragraph-mobile;
        margin: 12px 0px 32px;

        strong {
            color: $color-green-600;
        }

        p {
            display: inline;
            margin: 0px;
        }
    }
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    background-color: $color-green-500;
    color: $color-white;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    border: none;
}

@media screen and (min-width: $media-md) {
    .hashtag-button {
        padding: 21px 28px;
        margin-right: 24px;

        p {
            font-size: 16px;
        }
    }
}