.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        width: 100%;
=======
        width: 137px;
>>>>>>> 84012897e2660385353fc9392062aba1ee189fcc
        height: 62px;
        border-radius: 12px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(197, 242, 128, 0.04), 0px 4px 8px rgba(55, 169, 2, 0.04);
        margin: 0px 8px;
    }
}

.list-item {
    display: flex;
    margin-top: 24px;
    &__dot {
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        border-radius: 21px;
        margin-top: 15px;
        background-color: $color-orange-500;
    }

    p {
        margin: 0px;
        padding-left: 12px;
    }
}