div(class='navbar').container
    span.navbar__logo
        i(class='svg-logo svg-logo-dims')
    .navbar__container
        .navbar__menu-button
            span
            span
            span
        nav.navbar__menu
            a.navbar__menu__item О проекте
            a.navbar__menu__item Как это работает
                i(class='svg-chevrone svg-chevrone-dims')
            ul.navbar__menu__item__list
                li.navbar__menu__item__list-line
                    a Как получить помощь
                li
                    a Как помочь
            a.navbar__menu__item Поддержка
                i(class='svg-chevrone svg-chevrone-dims')
            ul.navbar__menu__item__list
                li.navbar__menu__item__list-line
                    a FAQ
                li
                    a Myrtus Wiki
            .navbar__menu__close-icon
                i(class='svg-close svg-close-dims')