include ../mixins/action-button.pug

section(class='subscribe').container
    h1.subscribe__heading Подпишитесь на наши новости
    p.subscribe__text Будьте в курсе обновлений платформы и событий нашего сообщества
    .subscribe__input-group
        input(type='email' placeholder='Email').subscribe__input-group__input
        <svg class='input-close' width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8299 9.16992L9.16992 14.8299" stroke="#526E74" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.8299 14.8299L9.16992 9.16992" stroke="#526E74" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 21V21C7.029 21 3 16.971 3 12V12C3 7.029 7.029 3 12 3V3C16.971 3 21 7.029 21 12V12C21 16.971 16.971 21 12 21Z" stroke="#526E74" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        +action-button('Подписаться')
    p.subscribe__button-PrivacyPolicy Нажимая на кнопку вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>.
    .subscribe__figures
        .subscribe__figures__line-one
            img(src='static/images/logo-in-circle.svg')
            img(src='static/images/oval-half.svg')
        .subscribe__figures__line-two
            <svg class='subscribe__figures__line-two__flower' width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.02299 0C0.905723 0 0 0.910961 0 2.03468V43.7457C0 68.1867 19.6995 88 44 88C68.3005 88 88 68.1867 88 43.7457V2.03468C88 0.910958 87.0943 0 85.977 0H66.8303C54.2215 0 44.0001 10.2214 44.0001 22.8302C44.0001 10.2214 33.7787 0 21.1699 0H2.02299Z" fill="#99BE56"/></svg>
            <svg class='subscribe__figures__line-two__circle-half' width="172" height="128" viewBox="0 0 172 128" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="86" cy="86.5" rx="86" ry="86.5" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="25.9441" y1="7.2486" x2="137.232" y2="146.276" gradientUnits="userSpaceOnUse"><stop stop-color="#2C5B53"/><stop offset="1" stop-color="#1A413A"/></linearGradient></defs></svg>
            <svg class='subscribe__figures__line-two__line-half' width="228" height="155" viewBox="0 0 228 155" fill="none" xmlns="http://www.w3.org/2000/svg"><circle opacity="0.16" cx="114" cy="114" r="113" stroke="#378757" stroke-width="2"/></svg>
            <svg class='subscribe__figures__line-two__circle-fourth' width="124" height="146" viewBox="0 0 124 146" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M123.601 141.835C123.601 143.924 121.908 145.642 119.819 145.642L-17.0001 145.642C-19.2092 145.642 -21.0001 143.851 -21.0001 141.642L-21 3.8069C-21 1.73259 -19.3185 0.0510434 -17.2442 0.0510436C60.5422 0.0510504 123.601 64.0489 123.601 141.835Z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="112.446" y1="138.155" x2="24.4502" y2="8.09472" gradientUnits="userSpaceOnUse"><stop stop-color="#1A413A"/><stop offset="1" stop-color="#3F7067"/></linearGradient></defs></svg>
            <svg class='subscribe__figures__line-two__light-star' width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.905c11.046 0 20 8.997 20 20.095 0-11.098 8.954-20.095 20-20.095-10.983 0-19.898-8.894-20-19.905-.102 11.01-9.017 19.905-20 19.905z" fill="#99BE56"/></svg>
            <svg class='subscribe__figures__line-two__light-star-two' width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.905c11.046 0 20 8.997 20 20.095 0-11.098 8.954-20.095 20-20.095-10.983 0-19.898-8.894-20-19.905-.102 11.01-9.017 19.905-20 19.905z" fill="#99BE56"/></svg>