include ../mixins/download-buttons.pug
include ../mixins/list-icon.pug

div(class='to-know').container
    h1.to-know__heading Что нужно знать о Myrtus
    +list-icon('static/images/flower-icon.svg')
    p.to-know__text <strong>Принцип взаимопомощи.</strong> У нас не принято просить о помощи и не давать ничего взамен. Чтобы ранг не заморозился, поддерживайте активность: отправляйте пожертвования, приглашайте друзей, сообщайте о подозрительных видео и рассказывайте спонсорам, как потратили собранные деньги.
    +list-icon('static/images/star-icon.svg')
    p.to-know__text <strong>Рейтинговая система.</strong> Увеличивают ваш рейтинг и позволяют получить новый ранг. Чем выше ранг, тем больше возможностей: видео дольше держится в ленте, и вы можете собрать больше денег с одной просьбы. Еще спонсоры больше миртят пользователям с высоким рангом.
    +list-icon('static/images/myrtus-icon.svg')
    p.to-know__text <strong>Миртнуть – значит помочь.</strong> Когда пользователи хотят сделать пожертвование, они покупают стикер. Это и называется миртнуть. Все увидят купленный стикер под видео и в профиле спонсора.
    +download-buttons()
    .to-know__line-angle